body
{
  margin:0 ;  	
}
.navigation
{
	text-align:center;
	
	height: 200px;
}
.navigation li
{
	
    display: inline-block;
    margin: 30px 30px;
    font-size: 25px;

}
.navigation a
{
	    text-decoration:none ;

}
