* {
	font-family: 'Josefin Sans', sans-serif;
	/*border: 1px solid blue;*/
}

body {
	background-color: #fffcfc;
}

#question_heading {
	margin-top: 0;
}

#heading_helpblock {
	margin-bottom: 0;
}

#logo {
	font-size: 35px;
	color: #fff;
	display: inline-block;
	margin-right: 8px;
}

#jumbotron {
	text-align: center;
	background-color: #543e21;
}

#header_heading {
	color: #fff;
}


/*the hover part*/
#card-1:hover {
	background-color: #f2f5f9
	;
}

#card-2:hover {
	background-color: #f2f5f9
	;
}

#card-3:hover {
	background-color: #f2f5f9
	;
}

#card-4:hover {
	background-color: #f2f5f9
	;
}
/*end hover part*/

#card-1 {
	padding: 3%;
	border-top: 1px solid #e6eaef;
	border-left: 4px solid #48911e;
}

#card-2 {
	padding: 3%;
	border-top: 1px solid #e6eaef;
	border-left: 4px solid #203687;
}

#card-3 {
	padding: 3%;
	border-top: 1px solid #e6eaef;
	border-left: 4px solid #e58f0d;
}

#card-4 {
	padding: 3%;
	border-top: 1px solid #e6eaef;
	border-left: 4px solid #872220;
}

#hr_top {
	/*margin-bottom : 0 !important;
	padding-bottom: 0 !important;*/
	background-color: #e6eaef;
}

/*#hr-bottom {
	margin-top: 0;
	padding-top: 0;
}*/

#simple:hover {
	/*border-color: #5bc0de;
	background-color: #fff;*/
}

#upvote {
	font-size: 18px;
}

#logo1 {
	font-size: 25px;
}

.modal-header, .close {
      background-color: #e89119;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }

.cards_animation {
	transition: .40s;
}

.cards_animation:hover {
	transform: scale(1.05);
  	box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}