* {
	font-family: q_serif;
	/*border: 1px solid blue;*/
}

body {
	background-color: #fffcfc;
}

#question_heading {
	margin-top: 0;
}

#heading_helpblock {
	margin-bottom: 0;
}

#logo {
	font-size: 35px;
	color: #fff;
	display: inline-block;
	margin-right: 8px;
}

#jumbotron {
	text-align: center;
	background-color: #424ef4;
}

#header_heading {
	color: #fff;
}

#card:hover {
	background-color: #f2f5f9
	;
}

#card {
	padding: 2%;
}

#hr_top {
	/*margin-bottom : 0 !important;
	padding-bottom: 0 !important;*/
	background-color: #e6eaef;
}

/*#hr-bottom {
	margin-top: 0;
	padding-top: 0;
}*/

#simple:hover {
	/*border-color: #5bc0de;
	background-color: #fff;*/
}

#upvote {
	font-size: 18px;
}

#logo1 {
	font-size: 25px;
}

.modal-header, .close {
      background-color: #e89119;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }



  .like{font-weight:400;color:#337ab7;border-radius:0}.like,.like.active,.like:active,.like[disabled],fieldset[disabled] .like{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}.like,.like:active,.like:focus,.like:hover{border-color:transparent}.like:focus,.like:hover{color:#23527c;text-decoration:underline;background-color:transparent}.like[disabled]:focus,.like[disabled]:hover,fieldset[disabled] .like:focus,fieldset[disabled] .like:hover{color:#777;text-decoration:none}